doctype html
html(ng-app='LearnMath', ng-controller='LearnMathController')
    head
        title= title
        base(href='/')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/javascripts/bower_components/angular-material/angular-material.min.css')
        link(rel='stylesheet', href='/javascripts/bower_components/angular/angular-csp.css')
        link(rel='stylesheet', href='/javascripts/bower_components/angular/angular-csp.css')
        link(rel="stylesheet", href='/javascripts/bower_components/angular-material-icons/angular-material-icons.css')
    body(layout='row')
        div(layout='column', flex)
            block content
        script(src='/javascripts/bower_components/angular/angular.min.js')
        script(src='/javascripts/bower_components/angular-material-icons/angular-material-icons.min.js')
        script(src='/javascripts/bower_components/angular-animate/angular-animate.min.js')
        script(src='/javascripts/bower_components/angular-aria/angular-aria.min.js')
        script(src='/javascripts/bower_components/angular-messages/angular-messages.min.js')
        script(src='/javascripts/bower_components/angular-resource/angular-resource.min.js')
        script(src='/javascripts/bower_components/angular-material/angular-material.min.js')
        script(src='/javascripts/bower_components/angular-route/angular-route.min.js')
        script(src='/javascripts/bower_components/ngstorage/ngStorage.min.js')
        script(src='/javascripts/LearnMathApp/learn-math-app.js')
        script(src='/javascripts/LearnMathApp/learn-math-config.js')
        script(src='/javascripts/LearnMathApp/learn-math-service.js')
        script(src='/javascripts/LearnMathApp/AdditionModule/addition-service.js')
        script(src='/javascripts/LearnMathApp/AuthModule/auth-service.js')
        script(src='/javascripts/LearnMathApp/DivisionModule/division-service.js')
        script(src='/javascripts/LearnMathApp/MultiplicationModule/multiplication-service.js')
        script(src='/javascripts/LearnMathApp/SubtractionModule/subtraction-service.js')
        script(src='/javascripts/LearnMathApp/learn-math-controller.js')
        script(src='/javascripts/LearnMathApp/AdditionModule/addition-controller.js')
        script(src='/javascripts/LearnMathApp/AuthModule/auth-controller.js')
        script(src='/javascripts/LearnMathApp/DivisionModule/division-controller.js')
        script(src='/javascripts/LearnMathApp/MultiplicationModule/multiplication-controller.js')
        script(src='/javascripts/LearnMathApp/SubtractionModule/subtraction-controller.js')